.theme-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: color 0.2s;
  z-index: 5;

  &.dark {
    color: #fff;
  }

  display: flex;
  align-items: center;
  gap: 6px;

  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 22px;

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgb(136, 136, 136);
      -webkit-transition: 0.4s;
      transition: 0.4s;

      &:before {
        position: absolute;
        content: "";
        height: 14px;
        width: 14px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }
    }

    input {
      opacity: 0;
      width: 0;
      height: 0;

      &:checked + .slider {
        background-color: #835afd;
      }

      &:focus + .slider {
        box-shadow: 0 0 1px #835afd;
      }

      &:checked + .slider:before {
        transform: translateX(27px);
      }
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  }
}
